
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<button id="btnCreate" onclick="CreateUser()"> Create </button>



@section Scripts
{
    <script>
        function CreateUser()
        {
            window.alert("hello");
        }


    </script>


}

